@import './utils/variables';
@import './base/defaults';
@import './components/common/site-header';
@import './components/common/site-logo';
@import './components/common/site-navigation';
@import './components/common/site-contacts';
@import './components/common/site-footer';
@import './components/common/site-address';
@import './components/common/site-social';
@import './components/common/site-subscription-form';
@import './components/common/subscription-form__submit-btn';
@import './components/main/modal/modal';
@import './components/main/modal/modal__close-btn';
@import './components/main/modal/modal-formgroup';
@import './components/main/modal/modal-form__input';
@import './components/main/modal/modal-form__textarea';
@import './components/main/modal/modal-form__checkbox';
@import './components/main/modal/modal-form__submit-btn';

/** === FORM === */


/* !=== PRIMARY BUTTON ===! */

.btn-primary {
    background-color: $accent-color;
    color: $primary-white;
    min-width: 200px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    transition: $transition-dur $cubic-bezier;
}

.btn-primary:hover .backdrop,
.btn-primary:focus .backdrop {
    transform: translateX(100%);
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: $primary-btn-accent;
}

// !===MAIN===!

/* !=== HERO ===! */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;
}

.hero__container {
    max-width: $cont-width;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}

.hero__overlay {
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.hero__title {
    color: $primary-white;
    font-weight: 900;
    font-style: normal;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


/* !=== SECTION ===! */

.section-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.172;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.section p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
}


/* !=== Features Section ===! */

.features__container {
    max-width: $cont-width;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}

.section.features {
    align-items: center;
    justify-content: center;
    padding: 94px 0;
}

.features__list {
    display: flex;
    margin: 0;
    margin-left: -1 * $set-gap;
    margin-top: -1 * $set-gap;
}

.features__item {
    flex-basis: calc(100% / 4);
    margin-left: $set-gap;
    margin-top: $set-gap;
    color: $primary-black;
}

.features__icon {
    padding: 20px 100px;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: $secondary-background;
}

.features__list .list-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 10px 0;
}

.features__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}


/* !=== About Section ===! */

.about__container {
    max-width: $cont-width;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
}

.about.section {
    padding-bottom: 94px;
}

.about__list {
    display: flex;
    margin: 0;
    margin-left: -1 * $set-gap;
    margin-top: -1 * $set-gap;
}

.about__item {
    flex-basis: calc(100% / 3);
    margin-left: $set-gap;
    margin-top: $set-gap;
}

.about__thumb {
    position: relative;
}

.about__overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    transform: translateY(-70px);
    min-width: 370px;
}

.about__overlay--title {
    text-transform: uppercase;
    color: $primary-white;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
}


/* !=== Team Section ===! */

.team__container {
    width: $cont-width;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
}

.section.team {
    background-color: $secondary-background;
    padding-bottom: 94px;
    padding-top: 94px;
}

.team__list {
    display: flex;
    margin: 0;
    margin-left: -1 * $set-gap;
    margin-top: -1 * $set-gap;
}

.team__item {
    background-color: $primary-white;
    flex-basis: calc(100% / 4);
    margin-left: $set-gap;
    margin-top: $set-gap;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__name {
    color: $title-text-color;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team__prof {
    margin-bottom: 16px;
}


/* !=== Clients Section ===! */

.section.clients {
    padding: 94px 0;
}

.clients__container {
    width: $cont-width;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
}

.clients__list {
    display: flex;
    margin: 0;
    margin-left: -1 * $set-gap;
    margin-top: -1 * $set-gap;
}

.clients__item {
    flex-basis: calc(100% / 6);
    margin-left: $set-gap;
    margin-top: $set-gap;
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    color: $primary-icon-color;
    border: 1px solid currentColor;
    border-radius: 4px;
    transition: $transition-dur $cubic-bezier;
}

.clients__link:hover,
.clients__link:focus {
    color: $accent-color;
}

.clients__icon {
    display: block;
    fill: currentColor;
    max-height: 90px;
}

// !=== PORTFOLIO ===!

/* !=== CONTAINER ===! */

.portfolio-container {
    width: $cont-width;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;
}


/* !=== Button List === */

.btn-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.btn-list li {
    background-color: $primary-white;
    margin-left: 8px;
}

.btn-list button {
    border: transparent;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 21px;
    transition: $transition-dur $cubic-bezier;
}

.btn-list button:focus,
.btn-list button:hover {
    color: $primary-white;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


/* !=== Portfolio Section ===! */

.portfolio.section {
    padding: 94px 0;
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: -1 * $set-gap;
    margin-top: -1 * $set-gap;
}


/* CARD */

.card__thumb {
    position: relative;
    overflow: hidden;
}

.card {
    position: relative;
    flex-basis: calc(100% / 3 - 30px);
    border: 1px solid #eeeeee;
    margin-left: $set-gap;
    margin-top: $set-gap;
}

.card:hover,
.card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__text {
    padding: 20px 24px;
}

.portfolio__list p {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}

.card-title {
    margin-bottom: 4px;
    color: $title-text-color;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}


/* !=== OVERLAY ===! */

.overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 1;
    transition: $transition-dur $cubic-bezier;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
}

.card:hover .overlay,
.card:focus .overlay {
    opacity: 1;
    transform: translateY(-100%);
}

p.overlay-text {
    color: $primary-white;
}